---
layout: page
title: "About"
description: "Hey, this is Tomy."
header-img: "img/post-bg-unix-linux.jpg"
---
<!--<iframe height=498 width=700 src='http://player.youku.com/embed/XMzEwNTE0MTgwNA==' frameborder=0 'allowfullscreen'></iframe> -->

<div id="youkuplayer" style="width:750px;height:500px"></div>
<script type="text/javascript" src="//player.youku.com/jsapi"></script>
<script type="text/javascript">
var player = new YKU.Player('youkuplayer',{
styleid: '0',
client_id: 'YOUR YOUKUOPENAPI CLIENT_ID',
vid: 'XMzEwNTE0MTgwNA',
newPlayer: true,
autoplay: true,
show_related: false
});
    function pauseVideo(){
player.pauseVideo();
}
function playVideo(){
player.playVideo();
}
</script>

<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=400 height=130 src="//music.163.com/outchain/player?type=2&id=347597&auto=1&height=66"></iframe>Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 英语 English</option>
    <option value="1"> 中文 Chinese</option> 
</select>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        We grow neither better nor worse as we grow old but more and more like ourselves.
    </blockquote>
    <p>
    Seven times have I despised my soul:
    </p><p>The first time when I saw her being meek that she might attain height.
    </p><p>The second time when I saw her limping before the crippled.
    </p><p>The third time when she was given to choose between the hard and the easy, and she chose the easy.
    </p><p>The fourth time when she committed a wrong, and comforted herself that others also commit wrong.
    </p><p>The fifth time when she forbore for weakness, and attributed her patience to strength.
    </p><p>The sixth time when she despised the ugliness of a face, and knew not that it was one of her own masks.
    </p><p>And the seventh time when she sang a song of praise, and deemed it a virtue.</p>
    <p style="text-align:right;">
    --Kahlil Gibran
    </p>
    <p>
    Just for today I will try to live through this day only and not tackle my whole life problem at once. I can do something for twelve hours that would appall me if I had to keep it up for a lifetime.
    </p><p>Just for today I will be happy. This assumes to be true what Abraham Lincoln said, that "Most folks are as happy as they make up their minds to be."
    </p><p>Just for today I will adjust myself to what is, and not try to adjust everything to my own desires. I will take my "luck" as it comes.
    </p><p>Just for today I will try to strengthen my mind. I will study. I will learn something useful. I will not be a mental loafer. I will read something that requires effort, thought and concentration.
    </p><p>Just for today I will exercise my soul in three ways. I will do somebody a good turn and not get found out: If anybody knows of it, it will not count. I will do at least two things I don‘t want to do—just for exercise. I will not show anyone that my feelings are hurt: they may be hurt, but today I will not show it.
    </p><p>Just for today I will be agreeable. I will look as well as I can, dress becomingly, talk low, act courteously, criticize not one bit, and try not to improve or regulate anybody but myself.
    </p><p>Just for today I will have a program, I may not follow it exactly, but I will have it. I will save myself from two pests: hurry and indecision.
    </p><p>Just for today I will have a quiet half hour all by myself and relax. During this half hour, sometime, I will try to get a better perspective of my life.
    </p><p>Just for today I will be unafraid. Especially I will not be afraid to enjoy what is beautiful, and to believe that as I give to the world, so the world will give to me.
    </p>
    
</div>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        不甘堕落，不思进取。
    </blockquote>
    我曾七次鄙视自己的灵魂：<br><br>第一次，当它本可进取时，却故作谦卑;<br><br>第二次，当它在空虚时，用爱欲来填充;<br><br>第三次，在困难和容易之间，它选择了容易;<br><br>第四次，它犯了错，却借由别人也会犯错来宽慰自己;<br><br>第五次，它自由软弱，却把它认为是生命的坚韧;<br><br>第六次，当它鄙夷一张丑恶的嘴脸时，却不知那正是自己面具中的一副;<br><br>第七次，它侧身于生活的污泥中，虽不甘心，却又畏首畏尾。<br><br>
 
    <p style="text-align:right;">
    ——纪·哈·纪伯伦
    </p>
    
   就为了今天，我将尽力只度过今天而不立刻去解决终身的问题。对一件令我沮丧而又必须坚持一辈子的事，我只能坚持十二个小时。<br><br>就为了今天，我会很快乐。亚伯拉罕-林肯说过，“大多数人都是决定想怎么高兴就怎么高兴。”这已经被认为是真理。<br><br>就为了今天，我会做自我调整适应事物本来的面目，而不是想方设法使每一件事满足自己的欲望。当机会来临的时候我会抓住它。<br><br>就为了今天，我会尽力心强志坚。我会学习，学一些有用的东西。我不会做一个精神上的流浪汉。我会读一些需要努力、思考和注意力集中的东西。<br><br>就为了今天，我会用三种方法来磨炼我的灵魂。我会做对某人有利的事但不能被发现，若有人发现了就不算数。我将会做至少两件我不愿做的事情——只为了磨练。我不会让任何人感到我的感情受到了伤害：它们可能受到了伤害，但今天我不想表现出来。<br><br>就为了今天，我会过得很惬意。看起来我达到了最佳状态，穿着得体、讲话谦虚、行为礼貌、一点不吹毛求疵，尽量改进和调节自己而不是别人。<br><br>就为了今天，我会制定一个计划，我也许不会严格地遵守它，但我一定要有计划。我会避免两种错误：仓促行事和优柔寡断。<br><br>就为了今天，我将会独自静静地呆上半小时放松。在这半小时里，某个时刻，我会日后对我的生活有个更好的看法。<br><br>就为了今天，我将不再害怕。尤其我不会再害怕享受美丽的事物，并且相信我给予世界的，世界也会给予我。
    
</div>

<!-- <embed src="http://www.xiami.com/widget/336483274_71730,1769921582,1769399775,3681072,2051498,7563,71923,2051501,7078,3681073,70753,2096610,174937,1770875844,2051497,174839,174658,2051511,3075085,_350_340_000000_000000_0/multiPlayer.swf" type="application/x-shockwave-flash" width="350" height="340" wmode="opaque"></embed>    -->

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 1){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>




{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
