<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<embed src="http://www.xiami.com/widget/336483274_71730,1769921582,1769399775,3681072,2051498,7563,71923,2051501,7078,3681073,70753,2096610,174937,1770875844,2051497,174839,174658,2051511,3075085,_350_340_000000_000000_0/multiPlayer.swf" type="application/x-shockwave-flash" width="350" height="340" wmode="opaque"></embed>

<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
